
#search-bar{
  padding: 20px;
  border: solid white 1px;
  border-radius: 10px;
  padding-right: 200px;
  }
  #button{
  padding: 18px;
  border: solid black 1px;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  background-color: black;
  }
  .search{
  border: solid black 1px;
  padding: 20px;
  background-color: black;
  color: white;
  width: 30px;
  border-radius: 20px;
  text-align: center;
  font-size: 22px;
  }
  body{
  background-image: url(images/BackGround.png);
  background-repeat: no-repeat;
  background-size: cover;
  }
  h1{
  color: white;
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 30px;
  }
  #headings{
  padding: 150px;
  }
  #container{
  text-align: center;
  }
  #time-date{
    padding-left: 750px;
  }




            @media only screen and (min-width: 350px){
                    #headings{
                        padding: 20px;
                        }
                        h1{
                          color: white;
                          font-size: 25px;
                          font-family: Georgia, 'Times New Roman', Times, serif;
                          text-align: center;
                          }
                          #search-bar{
                            padding: 11px 35px 11px 10px;
                            font-size: medium;
                            }
                            #button{
                              padding: 11px;
                              
                              }
                              .search{
                              border: solid black 1px;
                              padding: 15px;
                              background-color: black;
                              color: white;
                              width: 330px;
                              border-radius: 20px;
                              text-align: center;
                              font-size: 18px;
                              }
                                #container{
                                 padding-top: 50px;
                                padding-bottom: 50px; 
                                text-align: center;
                                
                                
                                
                                }
                                #time-date{
                                  padding-left: 30px;
                                  justify-content: center;
                                  float: left;
                                  align-items: center;
                                  

                                  
                                }
                              }
                     
                     @media only screen and (min-width: 400px){
                      #headings{
                        padding: 30px;
                        }
                        h1{
                          color: white;
                          font-size: 27px;
                          font-family: Georgia, 'Times New Roman', Times, serif;
                          text-align: center;
                          }
                          #search-bar{
                            padding: 12px 50px 12px 10px;
                            font-size: large;
                            }
                            #button{
                              padding: 13px;
                              }
                              .search{
                              border: solid black 1px;
                              padding: 15px;
                              background-color: black;
                              color: white;
                              width: 270px;
                              border-radius: 20px;
                              text-align: center;
                              font-size: 20px;
                              }
                                #container{
                                  padding-top: 50px;
                                  padding-bottom: 50px;
                                  text-align: center;
                                  
                                }
                                #time-date{
                                  padding-left: 10px;
                                }
                                body{
                                  background-image: url(images/BackGround.png);
                                  background-repeat: no-repeat;
                                  background-size: cover;
                                
                                  
                                  }
                    }

                     

                      @media only screen and (min-width: 500px){
                      #headings{
                        padding: 40px;
                        }
                        h1{
                          color: white;
                          font-size: 30px;
                          font-family: Georgia, 'Times New Roman', Times, serif;
                          text-align: center;
                          }
                          #search-bar{
                            padding: 12px 80px 11px 9px;
                            font-size: large;
                            }
                            #button{
                              padding: 12px;
                              }
                              .search{
                              border: solid black 1px;
                              padding: 14px;
                              background-color: black;
                              color: white;
                              width: 260px;
                              border-radius: 20px;
                              text-align: center;
                              font-size: 40px;
                              }
                                #container{
                                text-align: center;
                                }
                                #time-date{
                                  padding-left: 50px;
                                }
                    } 
                     @media only screen and (min-width: 750px){
                      #headings{
                        padding: 50px;
                        }
                        h1{
                          color: white;
                          font-size: 40px;
                          font-family: Georgia, 'Times New Roman', Times, serif;
                          text-align: center;
                          }
                          #search-bar{
                            padding: 14px 85px 14px 8px;
                            font-size: large;
                            }
                            #button{
                              padding: 15px;
                              }
                              .search{
                              border: solid black 1px;
                              padding: 20px;
                              background-color: black;
                              color: white;
                              width: 300px;
                              border-radius: 20px;
                              text-align: center;
                              font-size: 40px;
                              }
                                #container{
                                text-align: center;
                                }
                                #time-date{
                                  padding-left: 120px;
                                }
                                } 
                     @media only screen and (min-width: 280px){
                  #headings{
                    padding: 35px;
                    }
                    h1{
                      color: white;
                      font-size: 30px;
                      font-family: Georgia, 'Times New Roman', Times, serif;
                      text-align: center;
                      }
                      #search-bar{
                        padding: 10px 180px 12px 10px;
                        font-size: medium;
                        }
                        #button{
                          padding: 14px;
                          }
                          .search{
                          border: solid black 1px;
                          padding: 18px;
                          background-color: black;
                          color: white;
                          width: 250px;
                          border-radius: 20px;
                          text-align: center;
                          font-size: 25px;
                          }
                            #container{
                            text-align: center;
                            }
                            #time-date{
                              padding-left: 40px;
                            } 
                          }
                 
                @media only screen and (min-width: 992px){
                  #headings{
                    padding: 50px;
                    }
                    h1{
                      color: white;
                      font-size: 55px;
                      font-family: Georgia, 'Times New Roman', Times, serif;
                      text-align: center;
                      }
                      #search-bar{
                        padding: 14px 15px;
                        }
                        #button{
                          padding: 14px;
                          }
                          .search{
                          border: solid black 1px;
                          padding: 18px;
                          background-color: black;
                          color: white;
                          width: 268px;
                          border-radius: 18px;
                          text-align: center;
                          font-size: 20px;
                          }
                            #container{
                            text-align: center;
                            }
                            #time-date{
                              padding-left: 30px;
                            }
                }
                @media only screen and (min-width: 320px){
                  #headings{
                    padding: 20px;
                    }
                    h1{
                      color: white;
                      font-size: 55px;
                      font-family: Georgia, 'Times New Roman', Times, serif;
                      text-align: center;
                      }
                      #search-bar{
                        padding: 15px 200px 15px 15px;
                        }
                        #button{
                          padding: 15px;
                          }
                          .search{
                          border: solid black 1px;
                          padding: 20px;
                          background-color: black;
                          color: white;
                          width: 270px;
                          border-radius: 20px;
                          text-align: center;
                          font-size: 22px;
                          }
                            #container{
                            text-align: center;
                            }
                            #time-date{
                              padding-left: 360px;
                            } 
                          }
               
                   
      @media only screen and(max-width:1024px){

        #headings{
          padding: 20px;
          }
          h1{
            color: white;
            font-size: 40px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            }
            #search-bar{
              padding: 20px 150px 14px 15px;
              }
              #button{
                padding: 15px;
                }
                .search{
                border: solid black 1px;
                padding: 20px;
                background-color: black;
                color: white;
                width: 400px;
                border-radius: 20px;
                text-align: center;
                font-size: 30px;
                }
                  #container{
                  text-align: center;
                  }
                  #time-date{
                    padding-left: 400px;
                  }
      } 

    
        
         